*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
}

.main-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.wrap{
    width: 100%;
    min-height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    width: 100%;
    padding: 150px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.userbox{
    justify-items: center;
    border: 1px solid silver;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.userbox__video{
    width: 100%;
    height: 300px;
    border-bottom: 1px solid silver;
}
.userbox__info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    padding: 20px;
}
.container{
    width: 600px;
    min-height: 500px;
    padding: 30px;
    background-color: #424758;
    display: flex;
    border: 1px solid silver;
    border-radius: 5px;
    color:white;
}
.form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.inp{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-family: "Comic Sans MS";
}
.inp input, .inp select,.inp option{
    width: 300px;
    height: 30px;
}
.btn{
    width: 300px;
    height: 30px;
}

